html,
body {
   height: 100%;
}

body {
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   background-color: #f4f5f8;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

.filter-dropdown {
   width: 250px;
   position: relative;
}

.filter-dropdown-btn {
   height: 30px;
   font-size: 12px;
   font-weight: 600;
   line-height: normal;
   display: flex;
   align-items: center;
   justify-content: space-around;
   cursor: pointer;
   border: 1px solid #EEEEEE;
   background-color: #FFFFFF;
   border-radius: 6px;
   padding: 0 6px;
}

.filter-menu {
   background-color: #f8f9fb;
   position: absolute;
   width: 100%;
   padding: 20px;
   border-radius: 6px;
   border: 1px solid #F5F5F5;
   box-shadow: 5px 10px 10px #eeeeee;
   top: 38px;
   z-index: 1;
}

.menu {
   display: flex;
   justify-content: space-between;
}

.grouping-menu {
   margin-bottom: 12px;
}

.menu-label {
   font-size: 14px;
   line-height: normal;
   font-weight: normal;
}

select {
   border: 1px solid #eeeeee;
   padding: 8px;
   border-radius: 6px;
   width: 120px;
   font-size: 12px;
   line-height: normal;
}

select:focus {
   outline: none;
}

.kanbans-wrapper {
   display: flex;
   margin-top: 40px;
   padding: 10px;
}

.kanbans-wrap {
   flex: 1;
   margin-right: 24px;
}

.kanban-header {
   display: flex;
   justify-content: space-between;
   margin-bottom: 40px;
}

.kanban-header>div {
   display: flex;
   align-items: center;
}

.kanban-header svg {
   margin-right: 8px;
}

.user-avatar {
   width: 24px;
   height: 24px;
   border-radius: 12px;
   border: 1px solid #EEEEEE;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 12px;
   margin-right: 8px;
   background-color: #FFFFFF;
   position: relative;
}

.user-status {
   width: 10px;
   height: 10px;
   border-radius: 5px;
   background-color: gray;
   position: absolute;
   bottom: -1px;
   right: -5px;
}

.user-status.active {
   background-color: green;
}

.user-status.not-active {
   background-color: yellow;
}

.ticket-wrapper {
   background-color: transparent;
   display: flex;
}

.ticket {
   width: 100%;
   height: 160px;
   background-color: #FFFFFF;
   border-radius: 8px;
   border: 1px solid #EEEEEE;
   box-shadow: 5px 10px 10px #EEEEEE;
   margin-right: 10px;
   display: flex;
   align-items: center;
   margin-bottom: 10px;
   position: relative;
}

.ticket>div {
   text-align: left;
   padding: 0 15px;
}

.ticket-id {
   font-size: 14px;
   line-height: normal;
   font-weight: normal;
   color: #9d9fa3;
   margin: 0;
   padding-bottom: 8px;
}

.ticket-title {
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
   overflow: hidden;
   margin-bottom: 8px;
   font-weight: bold;
   font-size: 15px;
   line-height: normal;
}

.ticket-importance {
   padding: 8px 0;
   display: flex;

}

.ticket-priority,
.ticket-request {
   border: 1px solid #F5F5F5;
   padding: 6px;
   border-radius: 4px;
   margin-right: 10px;
}

.ticket-request {
   font-size: 16px;
   line-height: normal;
}

.header {
   padding: 10px;
   height: 40px;
   background-color: #FFFFFF;
   display: flex;
   align-items: center;
}

.counter {
   margin-left: 16px;
   font-size: 14px;
   line-height: normal;
   font-weight: normal;
   color: #9d9fa3;
}

.kanban-card {
   height: 75vh;
   overflow-y: auto;
}

.user-status-wrap {
   position: absolute;
   right: 15px;
   top: 15px;
}

.user-status-wrap .initials {
   width: 20px;
   height: 20px;
   border-radius: 10px;
   border: 1px solid #eeeeee;
   text-align: center;
   font-size: 10px;
   line-height: 20px;
   text-transform: uppercase;
}

.user-status-wrap .availability {
   width: 8px;
   height: 8px;
   border-radius: 4px;
   border: 1px solid #eeeeee;
   position: absolute;
   bottom: -4px;
   right: 0px;
   background-color: #B8B8B8;
}

.user-status-wrap .availability.active {
   background-color: #F2BE00;
}

@media(max-width: 991px) {
   .kanbans-wrapper {
      flex-direction: column;
   }

   .kanban-card {
      width: 100%;
      overflow-y: hidden;
      overflow-x: auto;
      white-space: nowrap;
      height: auto;
   }

   .ticket {
      display: inline-block;
      white-space: nowrap;
      width: 300px;
      overflow-x: scroll;
   }

   .kanbans-wrap {
      margin-right: 0;
   }
}

.no-scrollbar {
   scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
   display: none;
}

.no-scrollbar::-moz-scrollbars {
   display: none;
}

.no-scrollbar::-o-scrollbar {
   display: none;
}

.no-scrollbar::-google-ms-scrollbar {
   display: none;
}

.no-scrollbar::-khtml-scrollbar {
   display: none;
}

.icon-wrap .user-status-wrap {
   position: relative;
   top: auto;
   right: auto;
   margin-right: 8px;
}